<footer>
  <div class="content">
    <div class="address">
      <div class="address_item">
        <i class="fa fa-mobile"></i>
        <p>(49) 9 9999-9999</p>
      </div>

      <div class="address_item">
        <i class="fa fa-map-marker"></i>
        <p>Rua Afonso Pena, 1001 - D<br>
          Chapecó - SC</p>
      </div>
    </div>

    <div class="contact">
      <%= image_tag("logo.png" , size: "100x100") %>

      <div class="social_networks">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-whatsapp"></i>
      </div>
    </div>
  </div>
</footer>
