<%= form_for @contact, url: root_path, remote: true do |form| %>
  <div class="field">
    <%= form.label 'Nome' %>
    <%= form.text_field :name %>
    <span id="error_message_name" class="errors_message"></span>
  </div>

  <div class="field">
    <%= form.label 'E-mail' %>
    <%= form.email_field :email %>
    <span id="error_message_email" class="errors_message"></span>
  </div>

  <div class="field">
    <%= form.label 'Telefone' %>
    <%= form.phone_field :phone %>
    <span id="error_message_phone" class="errors_message"></span>
  </div>

  <div class="field">
    <%= form.label 'Mensagem' %>
    <%= form.text_area :message %>
  </div>

  <%= form.submit 'Enviar' %>

  <p id="success_register"></p>
<% end %>
