<div class="header_background">
  <header>
    <%= image_tag("logo.png" , size: "150x150") %>

    <nav>
      <p id="open_menu_mobile">&#9776</p>

      <div class="menu_mobile_options">
        <p id="close_menu_mobile">&#10005</p>

        <a href="#about"></a>
        <a href="#services">Serviços</a>
        <a href="#portfolio">Portfólio</a>
        <a href="#contact">Contato</a>
      </div>
    </nav>
  </header>
</div>
