<div class="carousel">
  <div class="slide fade">
    <%= image_tag "portfolio/comercial.jpg" %>
    <div class="wrapper">
      <strong>Prédio Comercial</strong>
      <p>Imóvel no centro de Sidney</p>
    </div>
  </div>

  <div class="slide fade">
    <%= image_tag "portfolio/deposito.jpg" %>
    <div class="wrapper">
      <strong>Ármazem de produtos</strong>
      <p>Gigantesco galpão para rede de supermercados</p>
    </div>
  </div>

  <div class="slide fade">
    <%= image_tag "portfolio/praia.jpg" %>
    <div class="wrapper">
      <strong>Casa de praia</strong>
      <p>Projeto em Melbourne para desfrutar de férias</p>
    </div>
  </div>

  <div class="slide fade">
    <%= image_tag "portfolio/residencial.jpg" %>
    <div class="wrapper">
      <strong>Casa residencial</strong>
      <p>Casa familiar para 5 pessoas e 1 cachorro</p>
    </div>
  </div>
</div>
