//----- LIMPAR CONTEÚDO DOS ERROS -----
document.querySelectorAll('.errors_message').forEach(function(field) {
  field.innerHTML = ''
})

//----- CASO POSSUA ALGUM ERRO EM ALGUM CAMPO EXIBE -----
<% if @contact.errors.any? %>
  <% if @contact.errors[:name] %>
    document.querySelector('#error_message_name').append('<%= @contact.errors[:name][0] %>')
  <% end %>
  <% if @contact.errors[:email] %>
    document.querySelector('#error_message_email').append('<%= @contact.errors[:email][0] %>')
  <% end %>
  <% if @contact.errors[:phone] %>
    document.querySelector('#error_message_phone').append('<%= @contact.errors[:phone][0] %>')
  <% end %>

//----- CASO CONTRÁRIO O CADASTRO FOI UM SUCESSO -----
<% else %>
  document.querySelector('#success_register').innerHTML = 'Mensagem enviada com sucesso. Confira seu e-mail em breve'
  document.querySelector('#new_contact').reset()
<% end %>
