<%= render 'header' %>
<div class="container">
  <main>
    <div class="apresentation">
      <%= image_tag("engineer.jpg") %>
      <p>Você sonha?</br>
      A gente constrói!</p>
    </div>

    <div class="company">
      <h2>EMPRESA</h2>

      <div class="company_info">
        <p>Concrete Collective está há 12 anos atuando nos mais diversos segmentos da construção civil em toda Austrália. Somos responsáveis pelo planejamento e construção desde os maiores arranhas-ceús comerciais até a tão sonhada casa da praia.
        </p>

        <%= image_tag("building.jpg") %>
      </div>
    </div>

    <div id="services">
      <h2>SERVIÇOS</h2>

      <div class="services_info">
        <div class="services_item">
          <%= image_tag("planning.jpg") %>
          <h4>PLANEJAMENTO</h4>
          <p>Transformamos suas ideias em plantas arquitetônicas</p>
        </div>

        <div class="services_item">
          <%= image_tag("construction.jpg") %>
          <h4>CONSTRUÇÃO</h4>
          <p>Edificamos prédios, residências, depósitos, ...</p>
        </div>

        <div class="services_item">
          <%= image_tag("maintenance.jpg") %>
          <h4>MANUTENÇÃO</h4>
          <p>Limpeza, jardinagem, pintura, reformas e tudo o que imaginar</p>
        </div>
      </div>
    </div>

    <div id="portfolio">
      <h2>PORTFÓLIO</h2>

      <%= render 'portfolio' %>
    </div>

    <div id="contact">
      <h2>CONTATO</h2>
      <div class="content">
        <p>Gostou de nosso trabalho?<br> Envie-nos uma mensagem e faça seu orcamento!</p>
        <%= render 'form' %>
      </div>
    </div>
  </main>
</div>

<%= render 'footer' %>
