footer {
  width: 100vw;
  padding: 20px;

  display: flex;
  justify-content: center;

  background: var(--color-background);

  .content {
    display: grid;
    grid-template-columns: 1fr;

    .address {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      :last-child {
        margin-top: 10px;
      }

      .address_item {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          font-size: 30px;
          margin-right: 15px;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .social_networks i {
        font-size: 25px;
        margin: 0 0 10px 10px;
      }

      @media only screen and (min-width: 500px) {
        align-items: flex-end;
      }
    }

    @media only screen and (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
