#contact .content {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  p {
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: 12px;
      color: #FF9494;
      margin-left: 10px;
    }

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      width: 100%;
      max-width: 400px;

      label {
        margin-left: 10px;
      }

      input, textarea {
        padding: 10px;
        height: 40px;
        width: 100%;

        border-radius: 4px;
        border: 2px solid var(--color-line-in-white);

        font-size: 16px;
        color: var(--color-text-title);
        background: white;
      }

      textarea {
        min-height: 100px;
        resize: vertical;
      }

      #text {
        color: red;
      }
    }

    input {
      padding: 10px 15px;
      border: 1px solid ;
      border-radius: 4px;

      font-size: 20px;
      color: #FFF;
      background: #019201;
    }

    p {
      text-align: center;
      margin-top: 20px;
      width: 300px;
      color: rgb(70, 233, 70);
    }
  }

  @media only screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    padding: 0 20px;
  }

  @media only screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    padding: 0 15%;
  }
}
