.header_background {
  width: 100vw;
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: center;

  background: var(--color-background);

  header {
    width: 100%;
    max-width: 1280px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    #open_menu_mobile,
    #close_menu_mobile {
      margin-right: 20px;
      font-size: 40px;
      color: var(--color-text-title);
    }

    .menu_mobile_options {
      width: 65%;
      height: 100vh;
      padding: 50px;

      position: absolute;
      right: 0;
      top: 0;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      background: var(--color-input-background-dark);
      display: none;

      #close_menu_mobile {
        position: absolute;
        right: 0px;
        top: 10px;
      }
    }

    a {
      text-decoration: none;
      font-size: 22px;
      line-height: 50px;
    }
  }
}


@media only screen and (min-width: 500px) {
  .header_background header #open_menu_mobile,
  .header_background header #close_menu_mobile {
    display: none;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .header_background header .menu_mobile_options {
    position: inherit;
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    justify-content: space-evenly;

    padding: 0;
    background: var(--color-background);
  }
}
