.carousel {
  max-width: 1000px;
  margin: auto;

  .slide {
    display: none;

    img {
      height: 80vw;
      width: 100%;
      object-fit: cover;

      @media only screen and (min-width: 500px) {
        height: 60vw;
      }

      @media only screen and (min-width: 1000px) {
        height: 40vw;
      }
    }

    .wrapper {
      color: var(--color-text-base);
      font-size: 12px;
      width: 100%;
      text-align: center;

      @media only screen and (min-width: 500px) {
        font-size: 15px;
      }
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
