// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Poppins';
  line-height: 28px;
  color: var(--color-text-base);

  .container {
    max-width: 1280px;
    width: 100%;

    main {
      padding: 150px 0 30px;

      .apresentation {
        position: relative;

        img {
          height: auto;
          width: 100%;

          opacity: 0.7;
        }

        p {
          position: absolute;
          top: 10%;
          right: 5%;

          font-size: 14px;
          padding: 4px;
          border-radius: 4px;
          opacity: 0;

          animation: fadeIn 2s;
          animation-delay: 3s;
          animation-fill-mode: forwards;

          line-height: 30px;

          background: var(--color-box-base);

          @media only screen and (min-width: 500px) {
            top: 40%;
            font-size: 18px;
            padding: 10px;
          }
        }
      }

      h2 {
        border-top: 1px solid var(--color-text-base);
        padding: 20px 0;
        margin-top: 10px;
        text-align: center;
      }

      .company .company_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;

        > p {
          text-align: justify;
        }

        img {
          height: auto;
          width: 100%;
          padding: 10px 0;

          @media only screen and (min-width: 500px) {
            width: 48%;
            margin-left: 4%;
          }
        }

        @media only screen and (min-width: 500px) {
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }

      #services .services_info {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;

        padding: 0 20px;

        .services_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          img {
            width: 100%;
            height: 300px;
            opacity: 0.8;
            object-fit: cover;
          }
        }
        @media only screen and (min-width: 600px) {
          grid-template-columns: 1fr 1fr;
          column-gap: 8px;
        }
        @media only screen and (min-width: 1000px) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
